.container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.container + .container {
  border-top: 0;
}

.headline {
  display: block;
  line-height: 32px;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.open .headline {
  border-bottom: 1px solid grey;
  background: #f2f2f2;
}

.content {
  display: none;
}

.open .content {
  display: block;
}
